@import "./utils/typography";
@import "./utils/mixins";

.disease {
  margin-bottom: 120px;

  &-container {
    max-width: 750px;
    margin: auto;
  }
  &__title {
    margin-top: 88px;
  }

  &__paragraph {
    text-align: center;
    margin-top: 37px;
  }

  &__button {
    margin: auto;
    margin-top: 35px;
  }
}
