@import "./utils/typography";
@import "./utils/mixins";
@import "./utils/variables";

.header {
  position: relative;
  z-index: 100000;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 80px;

  @include onPhone {
    margin: 0;
  }

  @include onTablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 0;
  }

  @include onDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
  }

  &-logo {
    @include onPhone {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @include onPhone {
      display: none;
    }

    @include onTablet {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    @include onDesktop {
      display: flex;
      align-items: center;
      gap: 45px;
    }
  }

  &__item {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      color: $button-color;
    }
  }
}
