@import "./utils/typography";
@import "./utils/mixins";

.page {

  &__body {
    &--with-menu {
      overflow: hidden;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;

    visibility: hidden;

    &:target {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__section {
    margin: auto;

    @include onPhone {
      margin: 0 20px;
    }

    @include onTablet {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      max-width: 980px;

      @media (max-width: 1040px) {
        margin: 0 30px;
      }

      @media (min-width: 1041px) {
        margin: 0 auto;
      }
    }

    @include onDesktop {
      max-width: 1140px;
    }
  }

  &__title {
    @extend %rubik-700;
    font-size: 48px;
    line-height: 50px;
    color: $title-color;

    @include onPhone {
      font-size: 34px;
    }

    @include onTablet {
      font-size: 48px;
    }

    &_large {
      font-size: 72px;
      line-height: 82px;


      @include onPhone {
        font-size: 50px;
      }

      @include onDesktop {
        margin-top: 30px;
        margin-bottom: 0;
      }
    }

    &_medium {
      @extend %rubik-500;
      font-size: 20px;
      line-height: 30px;
      color: $title-color;
    }

    &_small {
      font-size: 20px;
      line-height: 50px;
      height: 40px;
    }
  }

  &__paragraph {
    font-size: 16px;
    line-height: 30px;
    color: $paragraph-color;

    &-selected {
      @extend %open-sans-600;
      color: $title-color;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $button-color;
    width: 115px;
    height: 46px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 10px 15px 0px rgba(27, 95, 193, 0.19);

    &:hover {
      color: $hover-button-color;
      background-color: $white-color;
      border: 1px solid $hover-button-color;
    }

    &-header {
      width: 125px;
      height: 47px;
    }

    &_large {
      width: 200px;
      height: 60px;
    }
  }

  &-img {
    @include onPhone {
      width: 100%;
    }

    @include onTablet {
      display: block;
      margin: auto;
      width: 100%;
      max-width: 600px;
    }

    &-respirator {
      @include onTablet {
        margin-top: 20px;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $title-color;

    &:hover {
      color: $button-color;
    }
  }
}
