@import "./utils/typography";
@import "./utils/mixins";

.reasons {
  &-container {
    @include onPhone {
      margin-top: 70px;
    }

    @include onTablet {
      margin-top: 50px;
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      gap: 87px;
      margin-top: 80px;
    }
  }

  &__paragraph {
    margin-top: 35px;
  }

  &__item {
    display: flex;
    align-items: start;
    gap: 18px;
    margin-top: 30px;

    @include onDesktop {
      width: 312px;
    }

    &-container {

      @include onDesktop {
        width: 650px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;
      }
    }

    &__title {
      @extend %open-sans-700;
      font-size: 20px;
      line-height: 28px;
      color: $title-color;
    }

    &__paragraph {
      @extend %open-sans-400;
      font-size: 15px;
      line-height: 22px;
      color: $paragraph-color;
    }
  }

  &-img {
    &-reviews {
      margin-top: 60px;

      @include onPhone {
        display: none;
      }

      @include onTablet {
        width: 100%;
      }
    }
  }
}
